<div class="m-3">
  <a href="/" class="btn btn-secondary">&leftarrow; Back to home</a>
</div>
<main
  class="container vh-100 m-auto d-flex flex-column align-items-center justify-content-center"
>
  <form action="/login" method="post" class="w-100">
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
    {{#if loginError}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        {{loginError}}
      </div>
    {{/if}}
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        name="email"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        name="password"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2 my-3" type="submit">Sign in</button>
    <p class="text-center">Don't have an account?
      <a href="/signup">Create account</a></p>
  </form>
</main>